.rightbar {
  flex: 3.5;
}

.rightbarWrapper {
  padding: 20px 20px 0 0;
}

.eventContainer {
  display: flex;
  align-items: center;
}

.starImg {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.eventText {
  font-weight: 300;
  font-size: 15px;
  padding-top: 8px;
}

.eventImg {
  width: 100%;
  border-radius: 20px;
  margin: 15px 0 40px 0;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.rightbarTitle {
  margin-bottom: 15px;
}

.rightbarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rightbarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.rightbarProfileImgContainer {
  margin-right: 10px;
  position: relative;
}

.rightbarFriendImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.rightbarOnlineIcon {
  background-color: rgb(170, 0, 255);
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 0;
  border: 1px solid white;
}

.rightbarUsername {
  font-weight: 700;
}

.promotionTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 40px 0 15px 0;
}

.rightbarPromotionImg {
  width: 80%;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.promotionName {
  margin-bottom: 20px;
}
